.taskContainer {
  margin-inline: auto;
  width: 377px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
  padding: 24px 16px;
}
.taskContainer h1 {
  color: #000;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.taskContainer form {
  height: 40px;
  display: flex;
  gap: 6px;
}
.taskContainer form input {
  border: 1px solid #e4e4e7;
  border-radius: 5px;
  padding-inline: 14px;
  font-size: 14px;
  flex-grow: 1;
  flex-shrink: 1;
}
.taskContainer form button {
  width: 59px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #3c82f6;
  cursor: pointer;
}
.buttonsContainer {
  display: flex;
  gap: 6px;
  height: 32px;
  margin-block: 18px;
}
.activeButton,
.inactiveButton {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding-inline: 12px;
  font-size: 12px;
  font-weight: 500;
}
.activeButton {
  background-color: #3c82f6;
  color: white;
}
.inactiveButton {
  background-color: #e5e7eb;
  color: black;
}
.noTask {
  font-size: 14px;
  text-align: center;
  color: #6b7280;
  padding: 15px 30px;
}
.taskList {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
  padding: 15px;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.taskInput {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.taskList:hover {
  transition: all 0.4s ease-in-out;
  background-color: #b4c1c3;
  cursor: pointer;
}

.taskDeleteButton {
  margin-left: auto;
  color: #ef4444;
  background-color: #fef2f2;
  font-size: 14px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
}
.taskCounter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskCounter p {
  font-size: 14px;
  font-weight: 500;
  color: #6b7280;
}
.taskCounter button {
  font-size: 14px;
  border: none;
  background-color: transparent;
  color: #ef4444;
  cursor: pointer;
}
.footer p {
  font-size: 12px;
  font-weight: 400;
  color: #6b7280;
  padding: 40px 16px 24px 16px;
  text-align: center;
}
.footer span {
  color: #3b73ed;
}
